<br/>
<br/>
<%= link_to "Logout!", logout_path, data: { turbo_method: :delete } %>
<br/>
<br/>

<%= link_to "Bloggers", users_path %>


<h1><%= "(Admin)" if @user.admin? %><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<% if logged_in? && @user==current_user %>
    <div>
        <%= link_to "Edit your Profile", edit_user_path(@user) %>
    </div>    
<% end %>

<br/>
<%= link_to 'Return to articles listing', articles_path %>


<h3>Articles</h3>

<%= render 'articles/article' %>

